<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

    {% if already_registered == True %}
    <h2>Sorry, this username is already used.</h2>
    {% endif %}

    <form action="{% url 'login:signup' %}" method="post">
        {% csrf_token %}

        <label for="username">Username</label>
        <input type="text" id="username" name="username" maxlength="50">

        <label for="password">Password</label>
        <input type="password", id="password", name="password", maxlength="50">

        <input type="submit" value="Sign Up">
    </form>

</body>
</html>